.well {
	margin-top: 10% !important;
	font-weight: bold !important;
	background: #abc549 !important;
	color: #FFFFFF !important;
}

.alert.alert-warning {
	display: none;
	background: #FFFFFF !important;
	font-weight: bold !important;
	border: none !important;
}

.alert.alert-success {
	display: block;
	background: #FFFFFF !important;
	font-weight: bold !important;
	border: none !important;
	color: #000000 !important;
}

button.btn.btn-default {
	margin-top: 2% !important;
}

input[type=text] {
	margin-bottom: 2% !important;
}